<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamjam.bookjeok.domains.member.query.mapper.InterestBookMapper">
    <select id="findInterestBookList" resultType="InterestBookDTO">
        SELECT
            b.book_name,
            b.book_info,
            b.image_url,
            a.author_name
        FROM interest_books ib
        JOIN books b ON ib.book_id = b.book_id
        JOIN book_authors ba ON ba.book_id = b.book_id
        JOIN authors a ON ba.author_id = a.author_id
        JOIN members m ON ib.member_uid = m.member_uid
        WHERE m.member_id = #{ memberId }
        LIMIT #{ pageRequest.limit } OFFSET #{ pageRequest.offset };
    </select>

    <select id="countInterestBookByMemberUid" resultType="_int">
        SELECT COUNT(*)
        FROM interest_books
        WHERE member_uid = #{ memberUid }
    </select>
</mapper>
