@charset "UTF-8";

.footer {
    width: 100%;
    background-color: #f9f0df;
    border-top: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.footer-content {
    width: 1200px;
    position: relative;
}

.logo {
    position: absolute;
    width: 254px;
    height: 90px;
    object-fit: cover;
}

.footer-links,
.footer-info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 300px;
    margin-bottom: 16px;
}

.text-wrapper {
    font-weight: 400;
    color: #391902;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 18px;
    height: 29px;
    display: flex;
    align-items: center;
}

.line {
    width: 1px;
    height: 16px;
    background-color: #391902;
}