@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

.input-box {
    max-width: 540px;
    width: 150%;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 32px 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 18px;
    color: #1e1e1e;
}

.input {
    padding: 12px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

input:focus {
    outline: none;
}

.input::placeholder {
    color: #b3b3b3;
}

.submit-button {
    padding: 12px;
    background-color: #f9f0df;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 18px;
    color: #522404;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-button:hover {
    background-color: #f4e7cb;
}