<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamjam.bookjeok.domains.member.query.mapper.InterestAuthorMapper">
    <resultMap id="authorsAndBookList" type="InterestAuthorDTO">
        <id property="authorName" column="author_name"/>
        <collection property="bookList" ofType="BookNameDTO">
            <result property="bookName" column="book_name"/>
        </collection>
    </resultMap>

    <select id="findInterestAuthorByMemberId" resultMap="authorsAndBookList">
        SELECT
            a.author_name,
            v.book_name
        FROM interest_authors ia
        JOIN authors a ON ia.author_id = a.author_id
        JOIN book_authors ba ON a.author_id = ba.author_id
        JOIN books v ON ba.book_id = v.book_id
        JOIN members m ON ia.member_uid = m.member_uid
        WHERE m.member_id = #{ memberId };
    </select>

    <select id="countInterestAuthor" resultType="_int">
        SELECT COUNT(*)
        FROM interest_authors
        WHERE member_uid = #{ memberUid }
    </select>
</mapper>
