.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ced4da;
    z-index: 500;
    background-color: white;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 130px;
    margin: 0 auto;
}

.overlap-group {
    position: relative;
    width: 164px;
    height: 65px;
}

.logo {
    position: relative;
    width: 152px;
    height: 65px;
    object-fit: cover;
}

.header-dropdown {
    position: absolute;
    top: 30px;
    left: 130px;
    z-index: 10;
}

.header-dropdown-toggle {
    padding: 5px ;
    background-color: #854d14;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 6px;
}

.header-dropdown-menu {
    position: absolute;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    z-index: 501;
    width: 90px;
    padding : 10px 12px;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
}

.header-dropdown-menu a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.header-right {
    display: flex;
    align-items: center;
}

.icon-group {
    display: flex;
    /* 글씨와 아이콘을 위 아래로 배치하기 위함*/
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    top : 10px;
}

.header-icons {
    display: flex;
    gap: 16px;
}

.icon {
    width: 32px;
    height: 32px;
}

.favorite {
    top: 10px;
    width: 28px;
    height: 28px;
}

.cart-wrapper {
    position: relative;
    display: inline-block;
}

.cart {
    width: 32px;
    height: 32px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    background-color: #f9f0df;
    color: black;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.auth-links {
    display: flex;
    gap: 12px;
}

.auth-link {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.cart-wrapper {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border-radius: 50%;
    background: #F9F0DF;
    color: black;
    z-index: 10;
}